* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  width: 100%;
  height: 100%;
  color: #EBEBEB;
  overflow: hidden;
  transition: 0.2s;
}

#appHeader {
  width: 100%;
  padding: 4px;
  border-bottom: 2px solid #E3E3E3;
  background: #121F64;
}

#appTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  color: #F0EE33;
  /* background: #4E4230; */
  font-size: 36px;
  font-weight: 600;
}

#appBody {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  gap: 0px;
  width: 100%;
  height: 100%;
  /* padding: 4px; */
}

#category-columns {
  display: grid;
  grid-template-columns: repeat(6, 69px);
  grid-template-rows: repeat(6, auto);
  
  gap: 0px;
  width: 100%;
  /* height: fit-content; */
  /* height: 100%; */
  background: #E9E9E9;
  border-radius: 4px;
  /* overflow-y: scroll; */
  list-style: none;
}

#question-list {
  display: grid;
  grid-template-rows:1fr;
  grid-template-columns: repeat(6, 74px);
  column-gap: 5px;
  width: 100%;
  height: fit-content;
  height: 100%;
  background: #E9E9E9;
  border-radius: 4px;
  overflow-y: scroll;
  list-style: none;
}

#category-names {

  display: flex;
  /* 
  flex-direction: row;
  justify-content: flex-start;
  align-items: f
  lex-start;
  */

  display: grid;
  grid-template-columns: repeat(6, 69px);
  grid-template-rows: auto;
  gap: 0px;
  gap: 0px;
  width: 100%;
  /* height: 100%; */
  padding: 0px;
  background: #42445A;
  z-index: 101;
  font-size: 12px;
  white-space: pre-wrap;
}

.category-name {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 100%;
  padding: 0px;
  background: #42445A;
  text-align: center;
  z-index: 101;
  font-size: 12px;
  white-space: pre-wrap;
  /* border: 1px solid #F7F7F7; */
}

.question-item {
  gap: 8px;
  width: 100%;
  background: #2E41A6;
  list-style: none;
  /* border-radius: 0px 0px 4px 4px; */
  /* border: 1px solid #B0B0B0; */
}

.item-overlay-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  /* min-height: 225px; */
  /* height: 100%; */
  padding: 16px;
  z-index: 100;
}

.item-question-card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
  /* min-height: 225px; */

  /* height: 100%; */
  background: #2E41A6;
  border-radius: 4px;
  border: 2px solid #2E3B6F;
}

.item-question-card>.category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 100%;
  padding: 8px 8px;
  font-size: 15px;
  font-weight: 400;
  color: #CECECE;
}

.item-question-card>.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  padding: 22px 22px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  color: #F0EE33;
}

.item-question-card>.answer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;

  padding: 8px;

}

.answer-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 8px;
  background: #D9D9D9;
  color: #243AB3;
  border-radius: 8px;
  font-size: 14px;

  font-weight: 600;
}

.answer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  padding: 8px;
}

.item-question-card>.answer[data-show=true] .answer-button {
  display: none;
  overflow: hidden;
}

.item-question-card>.answer[data-show=false] .answer-content {
  display: none;
  overflow: hidden;
}

.question-item-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0px;
  padding: 4px 8px;
  background: #26337A;
  border-radius: 4px;
  color: #D9D9D9;
  font-size: 14px;
}

.content-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.question-value {}

.question-date {}


.question-item[data-active-card=question] .item-overlay-card {
  display: none
}

.question-item[data-active-card=overlay] .item-question-card {
  display: none
}
